BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 150
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
