# Build Artifacts
build/
output/
*.elf
*.hex
*.bin
*.lock
*.map
*.a
*.so
*.o
*.d
*.ii
*.s

# Coverage
*.gcno
*.gcda
*.gcov

# Metadata/Generated
compile_commands.json
generate_compdb.sh
.cache/

# IDE/Editor
.vscode/
.idea/
*.swp
*~
*.DS_Store
Thumbs.db
